{:paths   ["src"]
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           com.taoensso/timbre                 {:mvn/version "6.1.0"}
           io.replikativ/datahike              {:mvn/version "0.6.1542"}
           mount/mount                         {:mvn/version "0.1.17"}
           org.clojure/data.json               {:mvn/version "2.4.0"}}

 ;; See .dir-locals.el for some defaults on CIDER C-c M-j
 :aliases {:dev          {:extra-paths    ["test" "env/dev" "resources"]
                          :jvm-opts       ["-XX:-OmitStackTraceInFastThrow"] ; https://www.metosin.fi/blog/missing-stacktraces/
                          ;; :dev includes src/server (for use with exerciser) thus much of this stuff.
                          :extra-deps     {cider/cider-nrepl               {:mvn/version "0.30.0"}
                                           nrepl/nrepl                     {:mvn/version "1.0.0"}
                                           expound/expound                 {:mvn/version "0.9.0"} ; more readable spec messages
                                           com.lambdaisland/classpath      {:mvn/version "0.4.44"}
                                           org.clojure/tools.namespace     {:mvn/version "1.4.4"}}}}}
